html,
body {
  height: 100%;
  font-family: 'Amatic SC', cursive;
}

body {
  text-align: center;
  background-color: rgb(196, 250, 115);
  font-size: 1.50em;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 6.5em;
  font-weight: bold;
  color: rgb(255, 123, 0);
}

h2 {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

.navbar {
  background-color: rgb(255, 123, 0);
  color: rgb(196, 250, 115);
  border-radius: 0.5em;
  font-weight: bolder;
}

#done {
  background-color: rgb(255, 123, 0);
  color: rgb(196, 250, 115);
  width: 400px;
  height: 60px;
  margin-top: 40px;
  font-size: 40px;
}